/* spacing */

table {
  font-size: 1em;
  font-family: Arial;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

thead {
  font-size: small;
  width: auto;
  border-bottom: 1px solid #6d6d6d07;
}

p {
  font-size: 15px;
  margin-bottom: 50px;
}

th {
  width: 200px;
  height: 30px;
  background-color: #c9c9c956;
  color: rgba(83, 83, 83, 0.76);
}

th:first-child {
  border-radius: 10px 0 0 10px;
  color: rgb(70, 70, 70);
}

th:last-child {
  border-radius: 0 10px 10px 0;
}

td {
  border-radius: 5px;
  color: rgb(68, 68, 68);
  text-align: center;
  background-color: #ffffff;
  padding: 12px 15px;
}

img {
  margin-bottom: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h2 {
  margin-top: 50%;
  margin-bottom: 50%;
  width: 200px;
}

#Buscador {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 24px;
  width: 500px;
  border: transparent;
  border-bottom: solid 1px #ccc;
  padding: 10px 10px 10px 30px;
  outline: none;
  margin-right: 0%;
}

input {
 margin-left: 0%;
}